body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 35px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 5px solid #000;
}
#navbar h3 {
  padding-left: 30px;
}

.navbar-ul {
  list-style: none;
  width: 100%;
  height: 87%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-link {
  padding: 5px 0 5px 15px;
  display: block;
  border-top: 1px solid #000;
  text-decoration: none;
  color: inherit;
}

#main-doc {
  margin-left: 350px;
  margin-right: 50px;
}

.code {
  display: block;
  min-width: 80%;
  margin-left: 30px;
  padding: 10px;
  background-color: rgba(168, 168, 168, 0.247);
}

@media screen and (max-width: 900px) {
  #navbar {
    display: none;
  }
  #main-doc {
    margin-left: 50px;
  }
}
